[{yaterl, [
          {log_level, info},
          {yaterl_sup_mode, stdio_connection_only},
          {whereis_yate_connection_mgr, {"yate_connection_manager", "sheldon"}},
          {yaterl_custom_module_config, 
               {undefined, [{"call.execute", watch}]}
          }]
 },
 {sasl,
            [{sasl_error_logger, {file, "/tmp/stdio_sasl.log"}},
             %% only report errors
             {errlog_type, all},
             %% define the parameters of the rotating log
             %% the log file directory
             {error_logger_mf_dir,"/tmp/stdio_error_logs" },
             %% # bytes per logfile
             {error_logger_mf_maxbytes,10485760}, % 10 MB
             %% maximum number of
             {error_logger_mf_maxfiles, 10}]
 }
].
