[{yaterl, [{yate_custom_module_config, 
               {yate_test_route, [{"call.route", install, 80}]}
          }]
 },
 {sasl,
            [{sasl_error_logger, {file, "/tmp/yaterl_route_service_sasl.log"}},
             %% only report errors
             {errlog_type, all},
             %% define the parameters of the rotating log
             %% the log file directory
             {error_logger_mf_dir,"/tmp/yaterl_route_service_error_logs" },
             %% # bytes per logfile
             {error_logger_mf_maxbytes,10485760}, % 10 MB
             %% maximum number of
             {error_logger_mf_maxfiles, 10}]
 }
].
